body { 
	margin: 0;
	background-image: url('../Assets/background.png');

}
canvas { 
	image-rendering: pixelated;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}
*:focus {outline: 3px dashed;}